body {
/* padding: 10px; */
margin: 0px;
font-family: "Playfair Display SC", serif;
}

#cont-1{
color:rgba(130, 119, 24, 0.804);
}
#cont-2{
color:rgba(28, 130, 24, 0.804);

}
#cont-3{
color:rgba(130, 63, 24, 0.804);

}
#cont-4{
color:rgba(24, 123, 130, 0.804);

}
#cont-5{
color:rgba(130, 24, 98, 0.804);

}


.nav {
position: fixed;
right: 0;
top: 0;
width: 75px;
border-left: 1px solid black;
margin-right: 1%;
margin-top: 20px;
padding: 0px 0px 0px 20px;
}
.nav p {
margin-bottom: 30px;
}
.nav-item {
font-size: 1.8rem;
width: 25px;
height: 25px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 8px;
}
.nav p {
color: black;
}
.nav-item a i{
color:rgba(130, 119, 24, 0.804);
}
.nav-item a i:hover{
color: black;
}
.nav-item a i:active{
color: black;
}

#Homee{
    position: relative;
    font-size: 6rem;
    top:220px;
    left: 180px;
}

.containerss {
display: flex;
flex-direction: column;
height: 700px;
/* border: 2px solid black; */
margin: 0px 200px 100px 100px;
}
.shellss {
display: grid;
width: 100%;
/* border: 2px solid black; */
grid-gap: 1rem;
text-align: center;
justify-content: center;

}

#shell-1 {
height: 25%;
grid-template-columns: 1fr 1fr;
}
#shell-2 {
height: 25%;
margin-bottom: 10px;
}
#shell-3 {
height: 50%;
grid-template-columns: 1fr 1fr;
}


.boxess span {
font-size: 5.5rem;
}
.boxess span p {
font-size: 0.5rem;
margin: auto;
color: black;
margin-top: -10px;
}
#upper-left span p,
#upper-right span p,
#middle-middle span p {
width: 90px;
}

#lower-left {
text-align: left;
width: 100%;
padding-left: 25%;
padding-right: 25%;
color: black;
}
#lower-left p {
font-size: 0.74rem;
}

@media only screen and (max-width: 915px) {
.containerss {
margin-right: 100px;
margin-left: 0px;
}
@media only screen and (max-width: 716px) {
.containerss{
height: 1100px;

}
#shell-1 {
display: flex;
height: 50%;
flex-direction: column;
}
#shell-2 {
display: flex;
height: 50%;
flex-direction: column;
}
#shell-3 {
display: flex;
height: 50%;
flex-direction: column;
}
}
}

@media only screen and (max-width: 646px) {
.containerss {
height: 1200px;
}
#shell-1 {
display: flex;
height: 400px;
flex-direction: column;
}
#shell-2 {
display: flex;
height: 200%;
flex-direction: column;
}
#shell-3 {
display: flex;
height: 400%;
flex-direction: column;
}
}
@media only screen and (max-width: 390px){
#navy{
display: none;
} 
.containerss{
margin: 0px;
}
}



/* Contact Section */

#contact {
    height: 640px;
    /* margin-top: 20px; */
    padding-top: 30px;
    background: linear-gradient(45deg,  rgb(26, 73, 104),rgb(136, 155, 167) 100%);
    color: white;
  }
  
  .inside-contact {
    display: flex;
    justify-content: center;
  }
  .about-you {
    font-size: 1.3rem;
    width: 40%;
    margin: 30px;
    margin-top: 60px;
    height: 300px;
  }
  .details {
    margin: 20px;
    border-bottom: 3px solid white;
    margin-bottom: 40px;
  }
  .details input {
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    margin-left: 10px;
  }
  
  .details textarea[placeholder] {
    font-size: 1.3rem;
  }
  
  .details textarea {
    max-width: 90%;
    padding: 4px 10px;
    border: 0px solid transparent;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
  }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
  
  .about-you button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 3%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
  }
  
  .about-you button:hover {
    background: white;
    color: #13386fe0;
  }
  
  .about-me {
    margin: 30px;
    width: 30%;
    height: 300px;
    padding: 10px;
  }
  
  /* Footer Portion */
  
  #footer {
    font-size: large;
    margin-bottom: 3px;
  }

  .head h1 {
    font-size: 2.5rem;
    padding-top: 10px;
    margin-bottom: -20px;
  }
  
  section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  
  .text-center {
    text-align: center;
  }
    